/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Russo+One|Montserrat:400,700);

/* VARIABLES */
$title_font_size: 22px;
$h_font_size: 18px;
$orange_c: #ff6702;

/* MIXINS */

@mixin border-radius ($radius: 5px) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin button-to ($bg_color: $orange_c) {
	font-size: 10px;
	color: white;
	background: $bg_color;
	border: none;
	cursor: pointer;
	@include border-radius;
	
	&:hover {
		background: green;
	}
}

body {
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 14px;
	color: #333;
	background: white;
}

.wrap {
	width: 600px;
	margin: 0 auto;
	padding: 30px 40px;
	@include border-radius;
}

.notice {
	padding: 5px 10px;
	background: green;
	@include border-radius;
	p {color: #fff;}
}

.error {
	padding: 5px 10px;
	background: red;
	p {color: #fff;}
}

.margin-bottom {margin-bottom: 10px;}

h1 {
	font-size: $title_font_size;
	font-weight: 700;
	margin-bottom: 20px;
	text-shadow: 0px 1px 0px white;
	color: $orange_c;
}

h3 {
	font-size: $h_font_size;
	color: #666;
	
	&.empty {
		font-size: 16px;
		padding: 10px 20px;
	}
	
	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

hr {
	border: none;
	border-bottom: 2px solid #999;
}

.list {
	padding: 10px 20px;
	margin-bottom: 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	
	h3 {
		a {
			color: $orange_c;
		}
	}
	
	p {
		font-size: 13px;
		color: #666;
	}
	
	a.action {
		text-decoration: none;
		color: $orange_c;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

h4 {
	font-size: 16px;
	color: white;
	display: block;
	padding: 5px 10px;
	background: #999;
	margin: 10px;
}

.new_link, .back_link {
	color: $orange_c;
	float: right;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.new_list, .new_task, .edit_list {
	padding: 10px 20px;
	
	label {
		color: #333;
		
		input[type='text'] {
			font-size: 14px;
			padding: 5px 10px;
			margin-bottom: 20px;
		}
	}
	
	#task_description {
		border: 1px solid #999;
		padding: 5px 10px;
		@include border-radius;
	}
}

.tasks {
	display: block;
	padding: 10px 20px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
	
	li {
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		padding: 10px 0;
		&:first-child, &:last-child {border:none;}
		
		.handle {
			width: 20px;
			height: 20px;
			display: inline-block;
			margin-right: 10px;
			background:  url(handle.png) no-repeat;
			text-indent: -99999em;
			cursor: move;
		}
		
		p {
			display: inline;
			font-size: 15px;
		}
		
		.button_to {
			display: inline;
			margin-left: 10px;
		}
		
		.complete_button {
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			text-indent: -99999em;
			background: #999;
			@include border-radius;
			
			&:hover {
				background: green;
			}
		}
	}
}

.no_tasks {
	font-size: 14px;
	color: #999;
	padding: 10px 20px;
}